Why not support HTTP/1.0 and HTTP/2 protocols?

In the file `server.py`, line 87

``` python
            if version != 'HTTP/1.1':
                self.send_error(400, 'Bad request version')
                return False
```

Why do you only support HTTP/1.1 protocol? Why don't you support [HTTP/1.0](http://tools.ietf.org/html/rfc1945) and [HTTP/2](http://tools.ietf.org/html/rfc7540) protocols?

Moreover, you shouldn't send 400 status code for unsupported HTTP versions. 400 only stands for `Bad Request`, i.e. the request could not be understood by the server due to malformed syntax. See [RFC 2616 section 10.4.1](http://tools.ietf.org/html/rfc2616#section-10.4.1) for details.

What you should send is the 505 status code, i.e. `HTTP/1.1 505 HTTP Version Not Supported`. See [RFC 2616 section 10.5.6](http://tools.ietf.org/html/rfc2616#section-10.5.6) for details.
